* {
    background-color: black;
    text-decoration: none;
    color: white;
}

a {
    color: #7c9dff;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header nav {
    display: flex;
    justify-content: center;
}

header nav a {
    margin: 0 15px;
}

main {
    flex: 1;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}