@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #7262ff;
    font-weight: 450;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}

header nav {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    padding: 10px 0;
}

header nav a {
    margin: 0 22px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    padding: 2px;
    text-align: center;
    margin: 3px;
    border-color: #7262ff;
}

button {
    color: #7262ff;
    padding: 3px 10px 3px 10px;
    border-color: #7262ff;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #7262ff;
    box-shadow: 1px 1px 2px rgba(25, 17, 40, 0.1);
}

td,
th {
    padding: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 8px 0;
}