{{ define "scripts" }}
<script src="/web/static/remover.js"></script>
{{ end }}

{{ define "content" }}
<h3>Alunos cadastrados</h3>

<table style="margin-top: 15px; ">
    <tr>
        <th>Email</th>
        <th>RA</th>
        <th>M1</th>
        <th>M2</th>
        <th>M3</th>
    </tr>
    {{ range . }}
    <tr>
        <td>{{ .Email }}</td>
        <td>{{ .RA }}</td>
        <td>{{ .M1 }}</td>
        <td>{{ .M2 }}</td>
        <td>{{ .M3 }}</td>
        <td><a href="/alunos/editar?ra={{ .RA }}">Editar</a></td>
        <td><a href="#" onclick="removerAluno('{{ .RA }}')">Remover</a></td>
    </tr>
    {{ end }}
</table>
<p style="margin-top: 15px;"><a href="alunos/inserir">Inserir</a> novo aluno</p>
{{ end }}