{{ define "content" }}
<h1>Inserir aluno</h1>

<form id="inserirForm" action="/alunos/inserir" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="ra">RA:</label>
    <input type="number" id="ra" name="ra" min="0" required>
    <br>
    <label for="m1">M1:</label>
    <input type="number" id="m1" name="m1" min="0" max="10" step="0.1" required>
    <br>
    <label for="m2">M2:</label>
    <input type="number" id="m2" name="m2" min="0" max="10" step="0.1" required>
    <br>
    <label for="m3">M3:</label>
    <input type="number" id="m3" name="m3" min="0" max="10" step="0.1" required>
    <br>
    <button type="submit">Inserir</button>
</form>
{{ end }}