{{ define "scripts" }}
<script src="/web/static/script.js"></script>
{{ end }}

{{ define "content" }}
<h1>Login</h1>

<form id="loginForm" action="/login" style="margin: 10px;">
    <input type="text" id="username" name="username" placeholder="username" required>
    <br>
    <input type="password" id="password" name="password" placeholder="password" required style=" margin-bottom: 12px;">
    <br>
    <button type="submit">Login</button>
</form>
<div id="errorMessage" style="color: #ff7060; margin-top: 12px;"></div>
{{ end }}